[2018-11-19 12:28] xploreraj opened #1 "Unable to find node on an unmounted component | Cannot read property 'scrollHeight' of undefined"
Getting this error,  I got my versions latest, whatever you mentioned.

[code]

[2018-12-19 14:51] iulian-radu-at commented on #1
@xploreraj Can you please check if the latest version fixed the problem for you?
I had myself this problem and it should be fixed by now.

[2019-01-16 22:04] iulian-radu-at commented on #1
Closed as no answer from issue reporter and the problem should be already fixed.

[2019-01-16 22:04] #1 closed

[2019-01-17 04:21] xploreraj commented on #1
Hey, sorry bud! I could not get a chance to work on that recently. Let me
find sometime in future to inform you.

[2019-01-26 19:03] korshavn opened #2 "Support for placeholder text"
Hi.
Would love if the select component could display a grey placeholder text..

![image](https://user-images.githubusercontent.com/462345/51791567-705d6480-21a5-11e9-8cf4-771344230da9.png)

In the picture above, the first input is a traditional Select (react-select). The second is with your library, and would prefer it. The others are just a free text and two date inputs.

I can see you have writt

[2019-01-26 20:39] korshavn commented on #2
I will be using your other project "selectrix" instead. Great work! :-)

[2019-02-11 08:03] iulian-radu-at commented on #2
Feature request took into account :)
I will check why I decided to ignore the placeholder and if it is possible I will add it.
I will keep you posted 📬

[2019-02-11 15:07] iulian-radu-at commented on #2
The placeholder was initially ignored as it can be overlapped by the label.
Starting with version 1.2.1 you can use a placeholder as long as there is no label defined.
To set the placeholder:
[code]
As you can see, you set it directly in the props of SingleSelect and not in SelectProps.placeholder
Please check if it works as expected or it needs more improvements. Thanks.

[2019-02-16 11:52] korshavn commented on #2
Thank you! It works. :-)

[2019-02-16 11:52] #2 closed

[2019-02-16 18:42] iulian-radu-at commented on #2
I am happy that you are happy :smiley:

[2019-03-05 15:22] avaldevilap opened #3 "How can i make the select variant="outlined"?"

[2019-03-11 11:54] BLRplex opened #4 "DefaultValue for MultipleSelect does not work correctly"
Hi, I found an issue related with default values of MultipleSelect. If my options are strings (['a', 'b', 'c']) and value is ['a'] - it works fine. But if I try to use SelectOption instead strings it works bad:

options=[{ label: 'label1', value: 001 }, { label: 'label2', value: 002 }]
values=[001]

It shows values as select options instead labels.

Actual result: 001, 002
Expected result: label1,

[2019-03-21 18:46] LeonardoSidney opened #5 "Suggestion: Interaction with the <Dialog /> component of the material-ui"
Hi, I bring this issue more as a suggestion, after all I'm not sure what the project proposal is, but I believe my point of view is valid:
![Captura de Tela_selecionar área_20190321152511](https://user-images.githubusercontent.com/4030991/54776864-e069f300-4c08-11e9-8497-06e231c6473f.png)
![Captura de Tela_selecionar área_20190321152558](https://user-images.githubusercontent.com/4030991/54776861-e

[2019-03-22 01:50] ColinKrist commented on #5
I too just faced this issue.
apply this fix: https://github.com/mui-org/material-ui/issues/7431 in this comment: https://github.com/mui-org/material-ui/issues/7431#issuecomment-414703875
and you'll be good.

[2019-03-22 12:40] LeonardoSidney commented on #5
Ty, thats works to me.

[2019-03-22 12:40] #5 closed

[2019-03-26 19:32] iulian-radu-at commented on #3
Hi Alejandro,
This is something I need to implement.

[2019-03-26 19:48] iulian-radu-at commented on #4
I will investigate and produce a fix for it.
Thanks for reporting it.

[2019-03-27 13:34] avaldevilap commented on #3
ok i will clone the repo

[2019-03-27 13:35] avaldevilap commented on #3
I had to make my own component

[2019-03-28 20:25] jrperdomoz opened #7 "Equivalent to AsyncSelect"
Hello! What would be the equivalent to AsyncSelect? https://react-select.com/async

[2019-04-04 13:44] iulian-radu-at commented on #3
@avaldevilap when you made your own component based on my component, then maybe you can contribute it via a PR.

[2019-04-04 13:51] iulian-radu-at commented on #7
It is not supported for the moment.
I will put it on my list of feature requests.

[2019-04-04 13:51] #7 closed

[2019-04-04 13:51] #3 closed

[2019-04-04 18:50] iulian-radu-at commented on #4
@BLRplex I fixed the bug in version 2.0.0. Please try it and let me know if it works as expected.

[2019-04-04 18:50] #4 closed

[2019-05-01 19:07] devans-k4 opened #8 "Single Select Clearable"
Is there anyway to clear a single selection?

[2019-05-01 19:31] #8 closed

[2019-05-21 07:18] vharmain opened #10 "Question: Is it possible to override styles for SelectLabel?"
First of all thanks for `react-select-material-ui`! 💯

Is it somehow possible to provide custom styles for the `SelectLabel`? I would like to conditionally display "error" colour.

I mean something like this:
![image](https://user-images.githubusercontent.com/19185700/58075940-97570080-7bb1-11e9-8113-77e8dcb88a11.png)

Thanks!

[2019-05-22 05:15] iulian-radu-at commented on #10
Hi. Not this week. But good input so most likely you will have it next week :)

[2019-05-30 19:45] iulian-radu-at commented on #10
Hi @vharmain,
I added the possibility to style the label in v3.0.0 by using InputLabelProps.className or InputLabelProps.style.
Please check it and let me know if does what you wanted.
More info find you in Readme.

[2019-05-30 19:45] #10 closed

[2019-05-31 11:21] vharmain commented on #10
Thank you so much for the new version!

However, when I now try to build my bundle with Webpack I'm getting this:
[code]
Am I missing something?

[2019-06-27 18:52] SirCoop opened #11 "Cannot set value"
"@material-ui/core": "^4.1.2",
"react": "^16.8.0",
Chrome Version 73.0.3683.75 (Official Build) (64-bit)

Using this code, if I set the value prop on the SingleSelect, the initial value will get set when the component renders but the change handler will not fire thereafter.

If I remove the value prop, the change handler fires properly, and I can select and create but I cannot set initial value on

[2019-06-28 10:16] iulian-radu-at commented on #11
Hi SirCoop,

I can reproduce your problem. It will be fixed soon.

In the mean time you can use defaultValue instead of value. DefaultValue makes the component uncontrolled, compared with using value which makes it controlled.

Cheers,
Iulian

[2019-06-29 13:54] iulian-radu-at commented on #11
Hi SirCoop,

The fix was published with v4.1.0. Please check it and let me know if there is still something to be fixed.

Thanks,
Iulian

[2019-06-29 13:54] #11 closed

[2019-07-04 18:25] guischafer opened #12 "Can't set value"
[code]

I'm not being able to use this component in a controlled state.

[code]
Since I have to change it programmatically, I'm using it in an uncontrolled state and using a key to force a re-render, like that:

[code]

[2019-07-04 19:05] philstar4 commented on #12
I seem to be having the same problem.  I pass in the value on initial load (tried both string and number representation), but this.state.selectedOption is never defined.

[2019-07-05 19:29] iulian-radu-at commented on #12
Hi,
I will try to reproduce you problem and provide a fix as soon as possible.
Thanks for reporting it :)
Iulian

[2019-07-06 08:22] pedroslopez commented on #12
I am also unable to set the initial value for multiselect. Thanks for your work.

[2019-07-06 09:11] iulian-radu-at commented on #12
Hi Pedro, Hi all,
I fixed the problem in v4.1.1. I also added a new demo in storybook for this case (see 'Advanced tests' section).
Please check if it works for you and in case there are still problems, please let me know.
I wish you all a great day,
Iulian

[2019-07-06 09:11] #12 closed

[2019-07-07 04:51] pedroslopez commented on #12
All good now, thanks!

[2019-08-08 09:46] adberard opened #13 "Colors from theme not used"
Hello, Im having a bit of trouble with the styles of react-select-material-ui

![react-select-material-ui-bug-theme](https://user-images.githubusercontent.com/23508913/62693958-bd7f8600-b9d3-11e9-97b8-3aa5d06fe487.png)

The component does not use the theme.palette from the style context provided by material-ui.
So in a dark theme the options dropdown items end up white on a white background. This

[2019-08-10 18:46] samosaara opened #14 "Select options above text field"
Does this library support "auto hoisting" the selection options above the text field when there is no space underneath it? I tried using it inside a material UI bottom drawer it just added a scrollbar so it could fit the selection panel

I was expecting:
![image](https://user-images.githubusercontent.com/1809521/62825616-4984df80-bb85-11e9-9b16-5ca559c7f7fd.png)

What I got:
![image](https://media

[2019-08-12 21:36] jsmith-phoenix commented on #13
++ on this issue

[2019-08-15 09:43] ypresto commented on #8
@devans-k4 Did you find solution to make single select clearable?

[2019-08-15 21:54] jsmith-phoenix opened #15 "Multi-select select multiple at once"
Is it possible for the select menu to stay open until the user clicks-away? Users would like to be able to open the menu and browse through the options, selecting them all, and then hitting enter to commit the selection. Apologies, if i've missed support of this already.

[2019-08-20 21:16] radzk opened #16 "Invalid hook call"
I'm trying to use it with simplest code shown in the examples, but it doesnt work for me.
Adding an import:
[code]
plus a line:
[code]
occurs with error below.
Could anyone help me?

[code]

[2019-08-21 10:29] xploreraj commented on #1
Not seeing this error now with later versions.

[2019-08-21 10:42] xploreraj opened #17 "How to clear SingleSelect values with backspace or X sign?"
I tried below but there is no impact.

[code]

[2019-08-21 10:43] xploreraj commented on #8
Same as https://github.com/iulian-radu-at/react-select-material-ui/issues/17. Solution not found yet!

[2019-08-21 19:39] iulian-radu-at commented on #17
Hi,

Please try the following code (took from example 'Clearable - Single select' in storybook) and let me know if it works (it works in storybook):

[code]

[2019-08-21 19:48] iulian-radu-at commented on #16
Hi,

ReactSelectMaterialUi does not use hooks so this error cannot be caused by this component.
Please check how you use the hooks.

[2019-08-21 19:48] #16 closed

[2019-08-21 19:56] iulian-radu-at commented on #14
Hi,

This component is only a "wrapper" for react-select, so your request is more appropriate for react-select component than here.

Sorry, but I cannot help you with this.

[2019-08-21 19:56] #14 closed

[2019-08-22 02:58] xploreraj commented on #17
Thanks iulian. It worked.

[2019-08-22 02:58] #17 closed

[2019-08-22 14:13] iulian-radu-at commented on #13
Hi,

I added in v4.3.0 an example in storybook how to style the component. Also I made changes in the code to support the styling via SelectProps.styles prop.

Please check if it is what you wanted and let me know.

[2019-08-28 17:27] JonPugsley opened #18 "Support Option Groups"
react-select supports option groups (see the first example [here](https://react-select.com/home#getting-started), or [CodeSandbox](https://codesandbox.io/s/hhgf4?module=/example.js)

There are a number of render issues in react-select-material-ui (labels not showing as selected, etc.) that seem to occur because getOptionForValue only looks at options.value and does not recurse

[code]

A fix would

[2019-09-05 12:37] iulian-radu-at commented on #13
Closed as there is no answer from issue reporter.

[2019-09-05 12:37] #13 closed

[2019-09-05 15:43] jsmith-phoenix commented on #13
FYI: After the lastest update this has been resolved (for me). Thanks!

[2019-09-06 11:24] RoiEXLab commented on #16
@iulian-radu-at I think there's some truth to @radzk's statement.
If you look at the error-message, it tells you that there might be multiple versions of react/react-dom, which seems to be the real issue here.
Basically because you reference react in your dependencies in `package.json` there are multiple react dependencies that cause this issue when you add react to your own dependencies as you sh

[2019-09-06 12:12] iulian-radu-at commented on #16
@RoiEXLab Thanks for your input.
For me it was strange to get an error about hooks as long as I do not use them.
If you or someone else can provide me with a code to reproduce this error, then I can try your suggestion to see if it is a fix.
Thanks

[2019-09-06 13:28] RoiEXLab commented on #16
Ok, I tried creating a clean project to reproduce this issue, but apparently npm tried to be smart and prevented me from running into this issue again.
This is what I got from running `npm list react`:
![grafik](https://user-images.githubusercontent.com/8350879/64430845-6d224380-d0b9-11e9-97a9-e21ea900a666.png)
As you can see the same version of react is in node_modules twice in different director

[2019-09-06 13:43] iulian-radu-at commented on #16
Many thanks @RoiEXLab for your quick and great answer.
I will do the change suggested by you with the next package (it should be out in the next days).

[2019-09-06 13:44] RoiEXLab commented on #16
Thank you very much!

[2019-09-06 14:26] iulian-radu-at commented on #16
I thank you @RoiEXLab 💪👍

[2019-09-09 07:45] RoiEXLab opened #19 "Broken SourceMaps"
Hi, I just noticed that your source-maps that are shipped with the dependency are essentially broken.
I'm not an expert by any means, but the way I understand source maps is that they provide a mapping from a transpiled version of the code to the original source, which isn't present in the published npm version.
Therefore my webpack pre-compilation-step generates a lot of warnings because the exis

[2019-09-09 18:20] iulian-radu-at commented on #19
Fixed in v5.0.2

[2019-09-09 18:20] #19 closed

[2019-09-09 18:43] RoiEXLab commented on #19
Thanks 👍

[2019-09-09 19:55] iulian-radu-at commented on #18
It was fixed with v5.1.0

[2019-09-09 19:55] #18 closed

[2019-09-09 20:50] devans-k4 commented on #13
I have added all the appropriate styles via SelectProps but still seem to figure out how to update the bottom border of the input when it is active. Seems to have a defaulted blue color that Material UI uses

[2019-09-11 11:00] arturoribessanz opened #20 "Value prop shows in input text instead of label"
I am using `SingleSelect`. When options are provided as an array of objects having a different label/value (for example `{value: 1239, value: 'Harold'}`, when I pass 1239 as `value` prop, it shows 1239 in the input field, but the correct "Harold" option is selected when the component is opened.

Here I provide some code to reproduce the issue.

[code]

[2019-09-15 08:46] iulian-radu-at commented on #20
@arturoribessanz I added your test code to storybook and also in a new created app with create-react-app and it works in both places as expected. So I cannot reproduce your problem with your code.

Please try your code with the latest version of react-select-material-ui and let me know if works.

Thanks.

[2019-09-20 11:12] frankforpresident opened #21 "isClearable not working as expected"
**Description**
When building an autocomplete component I've noticed that the isClearable property isn't adopted. Other properties like isDisabled, isMulti, isSearchable, isCreatable are working fine. If i try to overwrite the value with an external button the component is acting weird. When injecting null into single mode the value is NOT cleared and the clear button suddenly appears. When in mul

[2019-09-22 08:15] iulian-radu-at commented on #20
Closed as there was no feedback from the issue reporter

[2019-09-22 08:15] #20 closed

[2019-09-22 10:21] iulian-radu-at commented on #21
@frankforpresident thanks for reporting this problem. It was fixed in v6.0.0.
Please check if it works now as expected.
Thanks for the example. Based on it I created new storybook entries 😀

[2019-09-22 11:37] frankforpresident commented on #21
@iulian-radu-at
Awesome! I will try the fix on monday 👌😎

[2019-09-23 07:06] frankforpresident commented on #21
@iulian-radu-at,

The multi select is still missing the clear button when two or more items are selected. The single select is working fine. Overriding the selected values is also working as expected.

Are you running a different versions on different stories in your storybook? Because I can't reproduce this issue on the other clear demo.

[2019-09-23 09:56] iulian-radu-at commented on #21
@frankforpresident I see that I can reproduce in Storybook on GitHub the problem with the clean button not being displayed when there are changes on multi select. I will investigate why it is still happening. Thanks for checking it 👍

[2019-09-23 14:37] iulian-radu-at commented on #21
@frankforpresident Please check v6.0.1. It should do the fix for this problem. Thanks

[2019-09-23 15:03] frankforpresident commented on #21
Alright! It works 👍 Thank you for the quick fix

[2019-09-23 18:22] iulian-radu-at commented on #21
I thank you 💪 😀

[2019-09-23 18:22] #21 closed

[2019-09-27 22:13] kirill-konshin opened #22 "Async support"
I searched this repo for `async` but haven't found any documentation/examples.

Is https://react-select.com/async#loading-asynchronously supported by this component?

[2019-10-01 15:00] frankforpresident opened #23 "creatable is not adding items"
In version 6.0.1 the creatable options is not working as expected. It does offer the option to add but once added it does not add the newly created value to the selected options. this issue is mainly focused on the isMultiple but the single mode is also acting weird.

Expected:
When entering a different value than the provided options the dropdown tells the end-user to add the option.
When pressin

[2019-10-02 22:06] sseekamp0 opened #24 "Styling for bottom line"
Hi!
I'm having trouble being able to style the bottom line/bottom border line when the field is in focus. It defaults to the material-ui purple, but I'm needing to change both the above label (in focus label) color and the bottom line. Do you have any examples of how to do that? Any examples of doing it via using the singleselect component?

I've tried using InputLabelProps but can't seem to find

[2019-10-15 07:33] ludob78 commented on #23
Hello @frankforpresident ,

I had the same issue and I think you are right to asking  if that is because the selected options is not present in the options.

On my side, I fixed it by joining store values with initial select's options to feed options props of MultipleSelect and it works.

[2019-10-16 07:00] frankforpresident commented on #23
@ludob78 ,

Alright! Thank for the tip. It would be nice if it's supported natively but I will implementing the workaround.

[2019-10-23 08:13] frankforpresident commented on #23
This is the code I used in my wrapper for adding newly created or missing items. Maybe handy for people that are facing the same issue. It also includes sorting but that is not relevant to this ticket.

cc: @iulian-radu-at

[code]

[2019-10-27 20:23] iulian-radu-at commented on #23
Base on your comments I assume that you are using the component in a controlled mode. That means that for each change you trigger a render providing the list of options and selected items to ReactSelectMaterialUi.
If you do not add the new option to the already existing options than ReactSelectMaterialUi will filter out all selected options not found in the list of options.
This behavior is correc

[2019-10-27 21:25] iulian-radu-at commented on #24
You need to define a style function for **control**. The "trick" is to use the value of state.isFocused to decide which color to be used for the bottom border.
Bellow you find an example, which is also added in storybook to the **styled** example:

[code]

[2019-10-27 21:28] iulian-radu-at commented on #22
All props supported by ReactSelect are also supported by ReactSelectMaterialUi as it passes down all the props to the wrapped ReactSelect component.
If you have a concrete code for a bug, please post it here. Thanks.

[2019-10-29 18:29] guiihlopes commented on #22
@iulian-radu-at Async Select is like Creatable, another component.

[2019-11-09 02:43] joseglego opened #26 "a11y Support - Label"
I added this plugin to an open source project, and sincerely everything was going cool. But, I ran a Lighthouse Google Audit for Accessibility and I found that the label is missing

In my code I have:
[code]

But, the audit outputted next text:
[code]

You can see the screenshot of the error:
![image](https://user-images.githubusercontent.com/238259/68521538-ed635180-0280-11ea-9f02-8986c4dcb1f8.pn

[2019-11-16 05:50] ningappa commented on #3
Any update on this?

[2019-11-17 09:51] iulian-radu-at commented on #26
I looked at tech-trend.org and your two selects does not have any label for selects. So it is normal for lighthouse to do not find any label associated to the input.

PS: You have two "Kotlin" columns in the last chart as it is wrote with two capitalization

[2019-11-17 09:52] iulian-radu-at commented on #24
Closed as no answer from issuer in more then 14 days.

[2019-11-17 09:52] #24 closed

[2019-11-17 09:54] iulian-radu-at commented on #23
Closed as no answer from issuer in more than 14 days.

[2019-11-17 09:54] #23 closed

[2019-11-17 09:57] iulian-radu-at commented on #3
Maybe you can use custom styling for obtaining it.

[2019-11-17 10:14] joseglego commented on #26
Well, as you can see. It's not my project, I'm just a collaborator 😥 . But, I uploaded a test version, just for you 😬 .

You can check the code:
https://github.com/joseglego/Chart-Tech-Trends/tree/test/select-a11y-support/src

You can audit the online version:
https://chart-tech-trends-joseglego.netlify.com/

It generates the label, but it's just visually. It doesn't make the relation (the label s

[2019-11-17 10:14] iulian-radu-at commented on #15
You need to ask the react-select component explicitly for this.

[code]

Now there is a storybook for this use case.

[2019-11-17 10:14] #15 closed

[2019-11-21 12:53] Asatelit opened #27 "SingleSelect ignores the "color" attribute"
SingleSelect ignores the "color" attribute and renders this select using the primary color palette.
![E__Dev_Projects_asatelit-helios-station_public_pre (1)](https://user-images.githubusercontent.com/5496004/69339653-7e1d3280-0c6e-11ea-9936-d9c106aaa049.png)

[2019-11-21 17:32] iulian-radu-at commented on #27
Yes, as the material-ui theme is ignored (for the moment).
You can apply a custom style. See how it is done in storybook.

[2019-11-21 17:32] #27 closed

[2020-02-12 23:52] mbyrne00 opened #28 "z-index issues with latest material-ui and FormControl"
Hi - material-ui have set a `z-index: 0` on `FormControl` by default with their latest update. I raised an issue with them to state that it will break components like this one: https://github.com/mui-org/material-ui/issues/19677

If they decide not to fix it this library could add `style={{ zIndex: 1 }}` or even `style={{ zIndex: 'unset' }}` to the `FormComponent` it renders to avoid issues where

[2020-02-13 07:28] oliviertassinari commented on #28
Note the introduction of the Autocomplete component in the lab.

[2020-02-13 21:17] mbyrne00 commented on #28
That looks promising @oliviertassinari - I'll take a look at that for new components and see if we can swap over. Thanks.

[2020-02-28 07:09] souravsatyam opened #29 "MultipleSelect not working in IE11 or lower"
I am using MultipleSelect from library 'react-select-material-ui'. It seems to work fine in all modern browser such as chrome, mozilla, Safari but for Internet explorer version 11 it is throwing error.

SCRIPT5007: Unable to get property 'root' of undefined or null reference 0.chunk.js (230075,7)

Although the demo link for multiple select with creating new options seems to work fine in IE11

Here

[2020-03-05 08:21] iulian-radu-at commented on #29
Hi @souravsatyam,

I think that your problem can be the same with the one reported here:
https://github.com/mui-org/material-ui/issues/17789

Please check that material-ui issue and let me know if it helped you to solve it.

Cheers,
Iulian

[2020-03-06 10:50] souravsatyam commented on #29
Yes, Issue is same.  Used **import 'core-js/es/object';** but resulted in same error.
. Does **react-select-material-ui** have documentation mentioning the browser support?

[2020-03-08 12:37] MHM5000 commented on #3
Any updates?

[2020-03-20 20:40] wakuu opened #31 "Limit dropdown number"
Hi, I'm using your component. It works really well but in my website i have a select with 5000 or more options.
Is there a way to limit dropdown to 100 for example ? Cause my browser really don't like it.
Thanks

[2020-03-22 19:02] iulian-radu-at commented on #31
Hi @wakuu,

Unfortunately react-select does not provide any option for this use-case.
Also there is no possibility to get the list of filtered options from react-select and to filter it even more (by index for example, so we can display only the first 100).

You can try to implement your own filterOption function which will return only the first 100 matching options.

[code]

The problem is that y

[2020-03-22 19:02] #31 closed

[2020-03-22 19:24] iulian-radu-at commented on #28
Hi @mbyrne00,

I added to storybook your issue and it works correctly there.
Please check the code of the storybook for issue#28 and in case your code is "different" than this and the problem is still reproducible by you with the latest version of react-select-material-ui please send me a code which should reproduce it in storybook.

Thanks,
Iulian

[2020-03-22 19:29] iulian-radu-at commented on #29
Hi @souravsatyam,

According to JedWatson

He mentioned this on Feb 2nd, 2019: https://github.com/JedWatson/react-select/issues/15

The supported browsers for react-select-material-ui are the same as react-select.

I hope that this answer your question about browser support.

Cheers,
Iulian

[2020-03-22 19:46] oliviertassinari commented on #28
The issue should have been fixed upstream now.

[2020-03-22 20:08] iulian-radu-at commented on #28
Thanks @oliviertassinari.

Then I will close this issue.

Cheers,
Iulian

[2020-03-22 20:08] #28 closed

[2020-03-22 20:10] iulian-radu-at commented on #26
Hi @joseglego,

The version 6.4.2 should have the expected fix.
Please test it and let me know if the problem is solved.

Thanks,
Iulian

[2020-03-24 14:17] souravsatyam commented on #29
Hi @iulian-radu-at ,

I believe last time issue was reproducible in IE11 Although yes react-select-material-ui uses react-select module. But I cannot find the browser support documentation for this(react-select-material-ui) specific library.
Thanks for doing research for me

Thanks

[2020-03-24 19:57] iulian-radu-at commented on #29
Hi @souravsatyam,

There is none.
As material-select does not provide one, I cannot produce one for react-select-material-ui.

Sorry,
Iulian

[2020-03-24 19:57] #29 closed

[2020-04-09 08:43] iulian-radu-at commented on #26
Closed as no response from reporter in more than 15 days.

[2020-04-09 08:43] #26 closed

[2020-05-08 14:56] joshleblanc opened #32 "If the values prop is passed to a single select, "isClearable" is always false."
Reproduction: https://codesandbox.io/s/silly-snyder-equue?file=/src/ClearValues.tsx

[2020-05-10 09:14] iulian-radu-at commented on #32
Hi @joshleblanc,

Thanks for reporting this problem.

The fix should be already in 6.5.0. Also I added a storybook for this issue.
Please check it and let me know if it works as expected.

Cheers,
Iulian

[2020-05-19 16:05] joshleblanc commented on #32
Works great!

[2020-05-19 16:05] #32 closed

[2020-06-10 08:21] mackankowski opened #33 "[v6.5.0] Setting values for MultipleSelect doesn't work."
Hi Iulian,

I've noticed that the MultipleSelect component has stopped working correctly. Right now we're not able to set/change for its initial state. This part of the storybook shows the issue (no initial/default values are provided): https://iulian-radu-at.github.io/react-select-material-ui/?path=/story/reactselectmaterialui--with-value. The issue doesn't appear in 6.4.2.

Please investigate. T

[2020-06-14 14:05] iulian-radu-at commented on #33
Hi @mackankowski,

Thanks for reporting this. Because of the fixes in 6.5.0 for Issue #32, the code was fixed to reflect what the documentation says:
* Single select can use only defaultValue and value
* Multiple select can use only defaultValues and values (observe the extra "s" at the end of the words)
Unfortunately, I forgot to make the change in the storybook so there were multiple selects usi

[2020-06-15 10:50] mackankowski commented on #33
Hi @iulian-radu-at,

Thanks for your response and documentation updates!

Unfortunately, still I cannot investigate the source of problem. The same codebase works differently with v.6.4.2 and 6.5.0+. I load default values by `[reset](https://react-hook-form.com/api/#reset)` function from `react-hook-form`. Although (for v.6.4.2) I am able to load initial MultipleSelect values, isCreatable flag has

[2020-06-15 12:19] iulian-radu-at commented on #33
Hi @mackankowski,

It will be great if you can produce a minimal example which can reproduce your problem.

Cheers,
Iulian

[2020-06-15 14:14] joshleblanc opened #35 "Default import no longer works"
Reproduction: https://codesandbox.io/s/xenodochial-https-i700w?file=/src/App.js

I don't know why this is happening, but it might be related to the upgrade to typescript 3.9?

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-9.html#breaking-changes

Maybe this?

[code]

[2020-06-15 16:48] mackankowski commented on #33
Hi @iulian-radu-at,

Let's see the following example:

https://codesandbox.io/s/modern-hooks-b6reu?file=/src/components/MyForm.tsx

Please notice and compare differences between v.6.4.2 and other higher.

[2020-06-15 18:15] iulian-radu-at commented on #35
Hi @joshleblanc,

Thanks for reporting this problem. Version 6.6.2 should work correct now. Please check if it works for you too and let me know.

Thanks,
Iulian

[2020-06-15 18:47] iulian-radu-at commented on #33
Hi @mackankowski,

Thanks for the example. It helped me to find the solution for you :)

As MultipleSelect ignores the "value" field because it is using "values", you need to indicate to Controller (from react-hook-form) to use values instead of value. To do this, you need to add the following to Controller:

``
valueName="values"
``

So your MultiSelect component will be defined like this:

[code

[2020-06-16 05:47] mackankowski commented on #33
Hello @iulian-radu-at,

**The solution works great** and I'm appreciated that.

Still, there is a little issue with the following example and I cannot create the new option - dropdown appears when typing, but cannot be added.

Thanks for your time!

Maciej

[2020-06-16 08:14] mackankowski opened #36 "[MultipleSelect] isCreatable props has stopped working"
Hi @iulian-radu-at,

I put an extra topic for my little issue. isCreatable props don't seem to work for MultipleSelect: when typing, a new value is shown but cannot be added to the list. I'm sure that I was working before. The issue appears on different versions of the library.

Sample codebase:
https://codesandbox.io/s/modern-hooks-b6reu?file=/src/components/MyForm.tsx

Please help investigating.

[2020-06-16 08:16] #33 closed

[2020-06-16 09:07] AnushreeDhar commented on #36
this still doesn't work for me i have to show two types of data
on ui
1. first case i can create and add new from the drop down selection i save and see data is coming
2. i want to manipulate the selected data  (edit it) and add new and its failing at that

[2020-06-16 12:37] joshleblanc commented on #35
Works!

[2020-06-16 12:37] #35 closed

[2020-06-18 12:49] mackankowski commented on #36
Hi @iulian-radu-at, can you take a look at it, please?

[2020-06-18 13:14] keemor commented on #36
Hi @iulian-radu-at,

Here is an example how it works in react-select [https://codesandbox.io/s/cfzpm?module=/example.js](https://codesandbox.io/s/cfzpm?module=/example.js)

Cheers,

[2020-06-18 14:14] mackankowski opened #37 "[SingleSelect] Input label overflows the value"
Hi @iulian-radu-at,

Please see the example of the issue with using SingleSelect component with isCreatable flag.

1. Typing new option and confirm:
![image](https://user-images.githubusercontent.com/9574907/85030782-28662580-b17e-11ea-9c63-5fff5708c96f.png)
2. Making focus out from this input field:
![image](https://user-images.githubusercontent.com/9574907/85030884-46cc2100-b17e-11ea-87d8-2035da

[2020-06-19 12:46] keemor commented on #37
Hi @iulian-radu-at,

Here is reproduced defect:

[https://codesandbox.io/s/react-hook-form-controller-react-select-material-ui-c90eq?file=/src/index.js](https://codesandbox.io/s/react-hook-form-controller-react-select-material-ui-c90eq?file=/src/index.js)

1. Go to Creatable Select material-ui
2. Type 'Other' - press enter
3. Blur the field

which looks like this

![image](https://user-images.gith

[2020-06-20 18:34] iulian-radu-at commented on #37
Hi @keemor,

Based on your example we have the following usages of SingleSelect:

The broken one (example 1):
[code]

and the working one (example 2):
[code]

The setValue in onChange from example 2 is useless as value is not used by the SingleSelect :)

In Example 1, SingleSelect will receive a prop "value" having the new value in it. But the options do not contain a corresponding option for it,

[2020-06-20 18:45] iulian-radu-at commented on #36
Hi @mackankowski,

What you mean by "use a combination of MultiSelect with TextField"?
I have https://github.com/iulian-radu-at/labeled-checkbox-material-ui and https://github.com/iulian-radu-at/checkable-material-ui. Possibly the second component is the one you need.

Cheers,
Iulian

[2020-06-21 12:15] iulian-radu-at commented on #36
Hi @AnushreeDhar,

Maybe you can use the following code:
[code]

Please let me know if it worked for your use case.

Cheers,
Iulian

[2020-06-21 14:12] iulian-radu-at commented on #36
Hi @mackankowski and @keemor,

What are exactly your problems?
I start feeling that these questions are more for you to answer than for me. As they are about using react-hook-form with react-select-material-ui.

@mackankowski I checked with older version and it never worked.
Also, if I add onChange={()=>{}} to Controller in MultiSelect.tsx from your example, the new value remains displayed as long

[2020-06-22 09:04] keemor commented on #37
Hi @iulian-radu-at,

Your fix solved the problem, so this code now works.

[code]

Thank you for your support 😃

[2020-06-22 09:16] keemor commented on #36
Hi @iulian-radu-at and @mackankowski,

Thank you for investigating, I was aware that the problem lied in integration with RHF, but wasn't sure where to get help.

Actually I added _onChange={value => value}_ to _Controller_ and that solved the problem.

[code]

Thank you for the support, your library creates a great and unified solution with material-ui and react-hook-form 😃

[2020-06-22 16:01] mackankowski commented on #37
Thank you for your collaboration. All issues have been solved.

[2020-06-22 16:01] #37 closed

[2020-06-22 16:02] mackankowski commented on #36
Thank you for your collaboration. All issues have been solved.

[2020-06-22 16:02] #36 closed

[2020-08-13 12:55] michaloslav opened #38 "Add reordering support to MultipleSelect"
Right now the only way to change the order of the things you picked is to remove some of them and then add them back in. It would be really cool if users could just drag and drop items around using something like react-beautiful-dnd.

[2020-11-26 15:15] keemor commented on #22
@guiihlopes @kirill-konshin Autocomplete straight from material-ui can be used in this case:
[https://material-ui.com/components/autocomplete/#asynchronous-requests](https://material-ui.com/components/autocomplete/#asynchronous-requests)

[2021-02-01 14:32] mohitgarg opened #39 "Can't set object values in MultipleSelect"
MultipleSelect only pre-fills only if the `values` is an array of strings. If I am passing an array of objects like you do with `selectOptions` on `onChange`, input field doesn't get populated.

Here's the sandbox link:
https://codesandbox.io/s/friendly-minsky-xw6il

[2021-02-28 19:14] iulian-radu-at commented on #39
Hi @mohitgarg,

This is by design.
You can take your SelectOptions and extract the values in an array which is provided to MultipleSelect's values prop.

Cheers,
Iulian

[2021-02-28 19:14] #39 closed

[2021-03-02 08:33] josoroma opened #40 "Will be great to see a react hook form integration with validations and error handling"
https://react-hook-form.com/get-started#IntegratingwithUIlibraries

[2021-03-08 09:23] iulian-radu-at commented on #40
Hi @josoroma,
When do you think can this kind of cases (validation or error) can happen?
Thanks,
Iulian

[2021-03-19 11:44] josoroma commented on #40
I made it controllable by RHF:

[code]

Now I am gonna add it errors handling I guess.

[2021-03-20 18:40] josoroma opened #41 "Help - Wondering how to fix a possible zIndex overlay"
Hi!

I am having bit problem trying to add/override styles, for example, to change zIndez position of select options menu:

![image](https://user-images.githubusercontent.com/69951/111882088-34834b80-8979-11eb-810f-c1d4cd7fe77e.png)

![image](https://user-images.githubusercontent.com/69951/111882093-3d741d00-8979-11eb-9d27-285ebd3dd5f8.png)

Thank you!

[2021-03-23 08:28] iulian-radu-at commented on #41
Hi @josoroma ,

I think that you can fix this problem using css with z-index for your components. You should not need to do any "magic" to react-select-material-ui.

If you can provide a code which reproduces this problem, I can take a look :D

Cheers,
Iulian

[2021-03-25 04:40] josoroma commented on #41
Thank you @iulian-radu-at ! it works with a className!

[2021-03-25 04:42] josoroma opened #42 "Error - It looks like there are several instances of `@material-ui/styles` initialized in this application"
Hi!

I am hitting this error:

[code]

![image](https://user-images.githubusercontent.com/69951/112419967-f88e1480-8cf1-11eb-8460-e0baa7327cb4.png)

![image](https://user-images.githubusercontent.com/69951/112419986-02177c80-8cf2-11eb-86a1-3640ab6672dc.png)

Reference: https://material-ui.com/getting-started/faq/#i-have-several-instances-of-styles-on-the-page

[2021-03-25 08:00] iulian-radu-at commented on #41
Glad to read that @josoroma.

[2021-03-25 08:00] #41 closed

[2021-03-25 08:04] iulian-radu-at commented on #42
Hi @josoroma,

It looks like you need to upgrade your version of @material-ui/core to 4.11.3
It looks like you have it now at 4.11.2

Cheers,
Iulian

[2021-03-31 17:55] josoroma commented on #42
Thanks a bunch!

[2021-03-31 17:55] #42 closed

[2021-03-31 17:55] #40 closed

[2021-03-31 18:03] josoroma opened #43 "Wondering how to reset select fields after a form submit?"
Hi!

I am trying to reset the two selects fields I am using after a successful submit with react hook form:

[code]

maybe I am skipping something, but yeah I am stuck with this issue. Here is how I am using my component:

[code]

... and here is the component:

## src/components/RHFSelect/index.tsx

[code]

Thanks!

[2021-04-05 18:05] josoroma commented on #43
not sure how to make the defaultValue to work either.

[2021-04-06 06:12] iulian-radu-at commented on #43
Hi @josoroma ,

I see that you are using RHFSelectComponent in an uncontrolled mode (based on props names). A defaultValue is applied only once when the component is created, any other changes of this value being ignored.

RHFSingleSelectComponent receives defaultValue  but do not use it anywhere. It is recommended to use the today's IDE capabilities (based on eslint), to notify you when some vari

[2021-05-25 10:57] iulian-radu-at commented on #43
Hi @josoroma,

Did you solved your problem?

Cheers,
Iulian

[2021-09-04 19:27] iulian-radu-at commented on #43
Closed as there was no response from reporter.

[2021-09-04 19:27] #43 closed

[2021-10-08 12:41] denneulin opened #44 "MUI v5 migration"
Hi,

Thanks for your great library.
Do you plan to migrate to mui v5 ?

It requires to replace your dependency `@material-ui/core` by `@mui/material`

Actually it is not possible to migrate to mui v5 when using your lib because of this https://github.com/mui-org/material-ui/pull/28907/files

[2021-10-16 07:18] #44 closed, assigned to nobody

[2021-10-16 07:25] denneulin commented on #44
I guess I am missing something then.

I don't see the 8..0.0 tag here https://www.npmjs.com/package/react-select-material-ui-tags

[2021-10-16 10:21] iulian-radu-at commented on #44
I still need to update all other packages depending on it. I did not knew that you are using the other one. I will inform you once the other one is updated.

[2021-10-19 16:27] iulian-radu-at commented on #22
Thanks @keemor for your links

[2022-07-31 17:40] NathanC opened #45 "Typescript error: '*Select' cannot be used as a JSX component"
Hi! I'm trying to import this library, using React 18, and am getting this error with any of the selects I try to use. For example, TagSelect:

[code]

I'm creating it normally, e.g.,

[code]

My gut is saying it has something to do with the difference between React v17 (which this library uses) and React v18, but I'm not sure. Any other ideas or ways I could get this to work?

btw I may be intere

[2022-10-21 06:22] hnhegde opened #46 "How to reduce bundled size of react-select-material-ui?"
I am using react-select-material-ui for a form in my [blog](https://blog.squaredeal.tax/how-to-lower-property-taxes-in-Texas/). The component is pretty useful. Thanks to @iulian-radu-at for developing it.
Howeve this component seems to have a large footprint. As per bundle analyzer, `react-select-material-ui` seems to contribute significantly to the bundle size. Any idea how to reduce the size?

P

[2022-10-23 10:40] iulian-radu-at commented on #45
Hi @NathanC,

You are very welcomed to contribute.

I will take a look to see why you possible get this error.

Cheers,
Iulian

[2022-10-23 17:32] iulian-radu-at commented on #46
Hi @hnhegde,

I just published the v9 and I hope it will "fix" your problem.

Please check it and let me know.

Cheers,
Iulian

[2022-10-23 17:33] iulian-radu-at commented on #45
Hi @NathanC ,

I just published the v9 and I hope it will "fix" your problem.

Please check it and let me know.

Cheers,
Iulian

[2022-10-25 07:46] hnhegde commented on #46
Much better! Thank you @iulian-radu-at
![image](https://user-images.githubusercontent.com/4962589/197714111-57a67b15-4e13-46d0-ad72-6a39dff71113.png)

[2022-10-25 14:03] #46 closed, assigned to nobody

[2022-11-01 15:55] tcd opened #47 "Storybook site down"
The Storybook link in the readme leads to a page that doesn't render anything.
Not sure what the issue is, just wanted to point it out.

[2022-11-18 19:20] iulian-radu-at commented on #47
Many thanks @tcd. Unfortunately I saw your message only now but I think it is fixed.

Please check and let me know if it still does not work for you.

Cheers,
Iulian

[2022-11-18 19:20] #47 closed